<h1>SEAT YO SELF</h1>
<h4><%= link_to "Sign up!", new_user_path %></h4>
<h2>All Restaurants (<%= @restaurants.length%>)</h2>
<% @restaurants.each do |restaurant|%>
	<h3><%= link_to restaurant.name, restaurant_path(restaurant.id) %></h3><br/>
<% end %>  

